@import "reset";

//Variables
$dark-grey: #151515;
$middle-gray: #ccc;
$ligth-grey: #8c8b8b;
$white: #fff;
$green: #51b105;
$openSans: 'Open Sans', sans-serif;
$barlow: 'Barlow Semi Condensed', sans-serif;

//mixins

@mixin clearfix {
    content: "";
    display: block;
    clear: both;
}

@mixin green-title {
    background-color: $green;
    color: $white;
    padding: 8px;
    text-align: center;
    width: 250px;
    text-transform: uppercase;
    position: relative;
    top: -45px;
    margin: 0 auto;
    border-left: 16px solid $white;
    border-right: 16px solid $white;
    letter-spacing: 1px;
}

//wrapper
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

//header
header {
    background-color: $dark-grey;
}

header:after {
    @include clearfix();
}

#logo {
    background: url(../images/logo.jpg) no-repeat;
    height: 70px;
    width: 280px;
    float: left;
    text-indent: -10000px;
}

header nav {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    a {
        color: $white;
        text-decoration: none;
        font-family: $barlow
    }
    h2 {
        display:none;
    }
    li {
        float: left;
        margin-left: 20px;
    }
    span {
        color: $green;
        margin-left: 20px;
    }
}

//banner
#lead-banner {
    max-height: 450px;
    overflow: hidden;
    position: relative;
    font-family: $openSans;
    img {
        width: 100%;
    }
    .banner-overlay {
        position: absolute;
        top: 20%;
        width: 100%;
    }
    .banner-title {
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 66px;
    }
    p {
        color: $white;
        font-size: 28px;
        max-width: 570px;
        margin-top: 10px;
        line-height: 1.4em;
        font-weight: 200;
        font-family: $barlow;
    }
    a {
        background: #51b105; /* Old browsers */
        background: -moz-linear-gradient(top, #51b105 0%, #47a808 40%, #3ea00a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #51b105 0%,#47a808 40%,#3ea00a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #51b105 0%,#47a808 40%,#3ea00a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b105', endColorstr='#3ea00a',GradientType=0 ); /* IE6-9 */
        color: $white;
        display: block;
        width: 250px;
        font-size: 18px;
        text-align: center;
        padding: 16px 0;
        text-decoration: none;
        border-radius: 5px;
        text-transform: uppercase;
        margin-top: 50px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
        font-weight: 600;
    }
}

//main-content
section {
    margin: 40px 0 60px;
    font-family: $barlow;
    ul {
        list-style-type: none;
    }
}

section:after {
    @include clearfix();
}

#points-of-sale {
    h2 {
        height: 0;
        text-indent: -10000px;
    }
    li {
        float: left;
        width: 30%;
    }
    li:nth-child(2) {
        margin: 0 5%;
    }
    li h3 {
        text-align: center;
        color: $ligth-grey;
        font-size: 24px;
        font-weight: normal;
        margin: 20px 0;
    }
    li img {
        width: 100%;
    }
    p {
        text-align: center;
        width: 80%;
        margin: 0 10%;
        font-size: 14px;
        color: $ligth-grey;
        line-height: 1.4em;
    }
}

#clients {
    border-top: 1px solid $middle-gray;
    padding-top: 30px;
    h2 {
        @include green-title();
    }
    img {
        float: left;
        width: 30%;    
    }
    blockquote {
        float: right;
        width: 66%;
        margin-top: 20px;
        text-align: center;
        font-style: italic;
        line-height: 1.6em;
        color: $ligth-grey;
        padding-top: 50px;
        background: url(../images/quote-image.png) no-repeat top left;
    }
}

#contact {
    border-top: 1px solid $middle-gray;
    padding-top: 30px;
    h2 {
        @include green-title();
    }
    img {
        float: right;
    } 
}

#contact-methods {
    float:left;
    li {
        color: $ligth-grey;
        line-height: 30px;
        clear: left;
    }
    li:before {
        content: "";
        display: block;
        width: 45px;
        height: 40px;
        float:  left;
        margin-right: 10px;
        background: url(../images/icones-images.png) no-repeat;

    }
    li:nth-child(1):before {
        background-position: -243px -15px;
    }
    li:nth-child(2):before {
        background-position: -201px -15px;
    }
    li:nth-child(3):before {
        background-position: -160px -15px;
    }     
}

#social-nav {
    clear: both;
    position: relative;
    top: -40px;
    li {
        float: left;
        width: 45px;
        height: 40px;
        background: url(../images/icones-images.png) no-repeat;
        text-indent: -10000px;
    }
    li:nth-child(1) {
        background-position: 0 -15px;
    }
    li:nth-child(2) {
        background-position: -43px -15px;
    }
    li:nth-child(3) {
        background-position: -83px -15px;
    }
    li:nth-child(4) {
        background-position: -123px -15px;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}